#!/usr/bin/env bash

# General
### neoVim
alias v='nvim'
### Tmux
alias t='tmux'
### Clear
alias c='clear'
### go to previous directory
alias ..='cd ..'
### do not turn off the screen
alias cafe='caffeinate -dims'
### Show ALIASes
alias salias='less ~/dotfiles/.aliases'
### List files in Long format with human-readable file sizes and colorized output
alias ll='ls -hl --color=auto'
### Display disk Usage in Human-readable format, depth 1, sorted by size
alias duh='du -h -d 1 | sort -hr'

# AWS
### AWs SSO Login
alias awssol='aws sso login --profile '
### aws Select Profile
alias awsp='source ~/dotfiles/scripts/aws_select_profile.sh'

# Vaults
### Change directory to Vault Personal
alias cvp='cd ~/vaults/vpersonal'
### Change directory to Vault Work 2
alias cvw2='cd ~/vaults/vwork2'
### Change directory to Vault Work 3
alias cvw3='cd ~/vaults/vwork3'

# Config/Dotfiles
### Change directory to Config folder
alias cc='cd ~/dotfiles'
### shell ReLoad zshrc
alias rlc='source ~/.zshrc'

# Podman
### Podman System Prune (all, volumes)
alias psp='podman system prune -a --volumes'
### Podman Machine Init
alias pmi='podman machine init --cpus=4 --memory=8192 --disk-size=50'
### Podman Machine Remove
alias pmr='podman machine rm'
### Podman Machine Start
alias pms='podman machine start'
### Podman Machine sTop
alias pmt='podman machine stop'

# Git, Github
### Git Remote Prune Origin
alias grpo='git remote prune origin'
## Git Switch User
alias gsu='gh auth switch && gh auth setup-git'
## Github PRS
alias gprs='~/dotfiles/scripts/github_prs.sh'
## Github Repos
alias grepos='~/dotfiles/scripts/github_repos.sh'

# Terraform
### TerraForm Plan
alias tf='terraform'
alias tfp='terraform plan'

# Go
### Go Run Main
alias grm='go run main.go'
### Go Run Dot
alias grd='go run .'
### Go Test All
alias gta='go test ./...'
