#!/usr/bin/env bash

# General
### neoVim
alias v='nvim'
### Tmux
alias t='tmux'
### Clear
alias c='clear'
### go to previous directory
alias ..='cd ..'
### do not turn off the screen
alias cafe='caffeinate -dims'

# AWS
### AWs SSO Login
alias awssol='aws sso login --profile '
### AWs aws-Vault Execute
alias awve='aws-vault exec '
### AWs aws-Vault Execute Default
alias awved='aws-vault exec jiyeol-lee'

# Vaults
### Change directory to Vault Personal
alias cvp='cd ~/vaults/vpersonal'
### Change directory to Vault Work 2
alias cvw2='cd ~/vaults/vwork2'
### Change directory to Vault Work 3
alias cvw3='cd ~/vaults/vwork3'

# Config/Dotfiles
### Change directory to Config folder
alias cc='cd ~/dotfiles'
### Change directory to Neovim Config folder
alias cnc='cd ~/dotfiles/.nvim && v'
### shell ReLoad zshrc
alias rlc='source ~/.zshrc'

# Colima
### COlima Start
alias cos='colima start --cpu 4 --memory 8'
### COlima Start with Kubernetes
alias cosk='colima start --cpu 4 --memory 8 --kubernetes'
### COlima Terminate
alias cot='colima stop'

# Docker Compose
### Docker Compose Up
alias dcu='docker compose up'
### Docker Compose Down
alias dcd='docker compose down --remove-orphans'
### Docker Compose Soft Purge
alias dcsp='docker compose down --remove-orphans --rmi all'
### Docker Compose Hard Purge
alias dchp='docker compose down --remove-orphans -v --rmi all'

# Git, Github
### Git Remote Prune Origin
alias grpo='git remote prune origin'
## Git Switch User
alias gsu='gh auth switch && gh auth setup-git'
## Github PRS
alias gprs='~/dotfiles/scripts/github_prs.sh'

# Terraform
### TerraForm Plan
alias tf='terraform'
alias tfp='terraform plan'

# Go
### Go Run Main
alias grm='go run main.go'
### Go Run Dot
alias grd='go run .'
### Go Test All
alias gta='go test ./...'
